<ion-app>
  <!-- Menu lateral -->
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home" routerDirection="root">Inicio</ion-item>
        <ion-item routerLink="/login" routerDirection="forward">Login</ion-item>
        <ion-item routerLink="/signin" routerDirection="forward">Registro</ion-item>
        <ion-item routerLink="/schedule" routerDirection="forward">Agendar Hora</ion-item>
        <ion-item routerLink="/profile" routerDirection="forward">Perfil</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
