@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";



:root {
  --ion-background-color: #E5F0EB;
  --ion-toolbar-background: #A1CECB;
  --ion-text-color: #6e6e6e;

  color-scheme: light;
  --color-h1: #5FABA5;
  --color-h2: #79B9B3;
  --color-border: #A4CCB9;
}

/* Fondo y colores base */
body {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

h1 {
  color: var(--color-h1);
}

h2 {
  color: var(--color-h2);
}

.no-scroll {
  --overflow: hidden;
}

// Botones
button, .mat-raised-button {
  background-color: var(--color-h2);
  color: white;
  font-weight: 500;
  text-transform: none;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.3s ease;
}

button:hover,
.mat-raised-button:hover {
  background-color: darken(#79B9B3, 10%);
}